<div>
    <h2 id="page-heading">
        <span jhiTranslate="mypassApp.folder.home.title">Folders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-folder" [routerLink]="['/folder/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mypassApp.folder.home.createLabel">
            Create new Folder
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mypassApp.folder.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="folders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mypassApp.folder.name">Name</span></th>
            <th><span jhiTranslate="mypassApp.folder.icon">Icon</span></th>
            <th><span jhiTranslate="mypassApp.folder.key">Key</span></th>
            <th><span jhiTranslate="mypassApp.folder.created">Created</span></th>
            <th><span jhiTranslate="mypassApp.folder.modified">Modified</span></th>
            <th><span jhiTranslate="mypassApp.folder.owner">Owner</span></th>
            <th><span jhiTranslate="mypassApp.folder.sharedWith">Shared With</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let folder of folders ;trackBy: trackId">
                <td><a [routerLink]="['/folder', folder.id, 'view' ]">{{folder.id}}</a></td>
                <td>{{folder.name}}</td>
                <td>{{folder.icon}}</td>
                <td>{{folder.key}}</td>
                <td>{{folder.created | date:'medium'}}</td>
                <td>{{folder.modified | date:'medium'}}</td>
                <td>
                    {{folder.ownerLogin}}
                </td>
                <td>
                    <span *ngFor="let sharedWith of folder.sharedWiths; let last = last">
                            {{sharedWith.login}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/folder', folder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/folder', folder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'folder/'+ folder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
