<div>
    <h2 id="page-heading">
        <span jhiTranslate="mypassApp.secret.home.title">Secrets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-secret" [routerLink]="['/secret/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mypassApp.secret.home.createLabel">
            Create new Secret
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mypassApp.secret.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="secrets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mypassApp.secret.url">Url</span></th>
            <th><span jhiTranslate="mypassApp.secret.name">Name</span></th>
            <th><span jhiTranslate="mypassApp.secret.username">Username</span></th>
            <th><span jhiTranslate="mypassApp.secret.password">Password</span></th>
            <th><span jhiTranslate="mypassApp.secret.notes">Notes</span></th>
            <th><span jhiTranslate="mypassApp.secret.created">Created</span></th>
            <th><span jhiTranslate="mypassApp.secret.modified">Modified</span></th>
            <th><span jhiTranslate="mypassApp.secret.owner">Owner</span></th>
            <th><span jhiTranslate="mypassApp.secret.folder">Folder</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let secret of secrets ;trackBy: trackId">
                <td><a [routerLink]="['/secret', secret.id, 'view' ]">{{secret.id}}</a></td>
                <td>{{secret.url}}</td>
                <td>{{secret.name}}</td>
                <td>{{secret.username}}</td>
                <td>{{secret.password}}</td>
                <td>{{secret.notes}}</td>
                <td>{{secret.created | date:'medium'}}</td>
                <td>{{secret.modified | date:'medium'}}</td>
                <td>
                    {{secret.ownerLogin}}
                </td>
                <td>
                    <div *ngIf="secret.folderId">
                        <a [routerLink]="['../folder', secret.folderId , 'view' ]" >{{secret.folderName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/secret', secret.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/secret', secret.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'secret/'+ secret.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
