<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="secret">
            <h2><span jhiTranslate="mypassApp.secret.detail.title">Secret</span> {{secret.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mypassApp.secret.url">Url</span></dt>
                <dd>
                    <span>{{secret.url}}</span>
                </dd>
                <dt><span jhiTranslate="mypassApp.secret.name">Name</span></dt>
                <dd>
                    <span>{{secret.name}}</span>
                </dd>
                <dt><span jhiTranslate="mypassApp.secret.username">Username</span></dt>
                <dd>
                    <span>{{secret.username}}</span>
                </dd>
                <dt><span jhiTranslate="mypassApp.secret.password">Password</span></dt>
                <dd>
                    <span>{{secret.password}}</span>
                </dd>
                <dt><span jhiTranslate="mypassApp.secret.notes">Notes</span></dt>
                <dd>
                    <span>{{secret.notes}}</span>
                </dd>
                <dt><span jhiTranslate="mypassApp.secret.created">Created</span></dt>
                <dd>
                    <span>{{secret.created}}</span>
                </dd>
                <dt><span jhiTranslate="mypassApp.secret.modified">Modified</span></dt>
                <dd>
                    <span>{{secret.modified}}</span>
                </dd>
                <dt><span jhiTranslate="mypassApp.secret.owner">Owner</span></dt>
                <dd>
                    {{secret.ownerLogin}}
                </dd>
                <dt><span jhiTranslate="mypassApp.secret.folder">Folder</span></dt>
                <dd>
                    <div *ngIf="secret.folderId">
                        <a [routerLink]="['/folder', secret.folderId, 'view']">{{secret.folderName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/secret', secret.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
